---
---

body {
   overflow-x: hidden;
   background-color: hsl(0, 0%, 100%);
   font: 14px / 1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: hsl(0, 0%, 25%);
   font-weight: 400;
}

h1 {
   font-size: 3em;
   color: hsl(0, 0%, 0%);
}

h2 {
   color: hsl(0, 0%, 0%);
}

a {
   text-decoration: none;
}

video, iframe {
   max-width: 100%;
   height: auto;
   display: block;
}

#container {
   width: 1260px;
   margin: 0 auto;
}
#menu {
   width: 315px;
   float: left;
   position: fixed;
}
#body {
   width: 945px;
   float: right;
   margin: 0 auto;
}
