---
---

body {
   overflow-x: hidden;
   background-color: hsl(0deg 0% 0% / 1.0);
   font: 14px / 1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: hsl(0deg 0% 10% / 1.0);
   font-weight: 400;
}

video, iframe {
   max-width: 100%;
   height: auto;
  display: block;
}

#container {
   width: 1260px;
   margin: 0 auto;
}
#menu {
   width: 315px;
   float: left;
   position: fixed;
}
#body {
   width: 945px;
   float: right;
   margin: 0 auto;
}
